@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: 'Clear Sans';
  src: local("Clear Sans Thin"), local("ClearSans-Thin"), url('../fonts/clearsansthin.woff2') format("woff2"), url('../fonts/clearsansthin.woff') format("woff"), url('../fonts/clearsansthin.ttf') format("truetype");
}


@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Clear Sans';
  src: local("Clear Sans Light"), local("ClearSans-Light"), url('../fonts/clearsanslight.woff2') format("woff2"), url('../fonts/clearsanslight.woff') format("woff"), url('../fonts/clearsanslight.ttf') format("truetype");
}


@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Clear Sans';
  src: local("Clear Sans"), local("ClearSans"), url('../fonts/clearsans.woff2') format("woff2"), url('../fonts/clearsans.woff') format("woff"), url('../fonts/clearsans.ttf') format("truetype");
}


@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'Clear Sans';
  src: local("Clear Sans Italic"), local("ClearSans-Italic"), url('../fonts/clearsansitalic.woff2') format("woff2"), url('../fonts/clearsansitalic.woff') format("woff"), url('../fonts/clearsansitalic.ttf') format("truetype");
}


@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Clear Sans';
  src: local("Clear Sans Medium"), local("ClearSans-Medium"), url('../fonts/clearsansmedium.woff2') format("woff2"), url('../fonts/clearsansmedium.woff') format("woff"), url('../fonts/clearsansmedium.ttf') format("truetype");
}


@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: 'Clear Sans';
  src: local("Clear Sans Medium Italic"), local("ClearSans-MediumItalic"), url('../fonts/clearsansmediumitalic.woff2') format("woff2"), url('../fonts/clearsansmediumitalic.woff') format("woff"), url('../fonts/clearsansmediumitalic.ttf') format("truetype");
}


@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Clear Sans';
  src: local("Clear Sans Bold"), local("ClearSans-Bold"), url('../fonts/clearsansbold.woff2') format("woff2"), url('../fonts/clearsansbold.woff') format("woff"), url('../fonts/clearsansbold.ttf') format("truetype");
}


@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'Clear Sans';
  src: local("Clear Sans Bold Italic"), local("ClearSans-BoldItalic"), url('../fonts/clearsansbolditalic.woff2') format("woff2"), url('../fonts/clearsansbolditalic.woff') format("woff"), url('../fonts/clearsansbolditalic.ttf') format("truetype");
}


.up {
  text-transform: uppercase;
}

.none {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.un {
  text-decoration: underline;
}

.in {
  display: inline-block;
}

.vam {
  vertical-align: middle;
}

.rel {
  position: relative;
}

.bl {
  display: block;
}

.abs {
  position: absolute;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background: #fff;
  color: #333333;
  font-size: 14px;
  font-family: 'Clear Sans';
}

body.dark {
  background: #ebebeb;
}

th, td {
  color: #333333;
  font-size: 14px;
  font-family: 'Clear Sans';
}

body, form, object, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

table {
  border: none;
  border-collapse: collapse;
}

table td {
  padding: 0;
}

a {
  color: #333333;
}

a:hover {
  text-decoration: none;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

input, textarea, button, select {
  margin: 0;
  outline: none;
  font-family: 'Clear Sans';
}

button:hover {
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

section, header, footer, nav, main {
  display: block;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.clear {
  clear: both;
}

.top-line {
  height: 46px;
  background: #ebebeb;
  text-align: right;
  line-height: 46px;
}

.top-line button {
  border: 0;
  background: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.top-line .social {
  display: inline-block;
  margin-right: 50px;
}

.top-line .social img {
  margin: 0 8px;
}

.header {
  background: #323232;
}

.header .menu-button {
  display: none;
}

.header .logo {
  float: left;
  padding: 15px 0;
}

.header .top-menu {
  float: right;
}

.header .top-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .top-menu ul li {
  position: relative;
  display: inline-block;
}

.header .top-menu ul li a {
  display: block;
  padding: 22px 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.header .top-menu ul li a.active, .header .top-menu ul li a:hover {
  color: #f6871f;
}

.header .top-menu ul li ul {
  position: absolute;
  left: 0;
  z-index: 2;
  display: none;
  padding: 8px 0;
  width: 272px;
  background: #505050;
}

.header .top-menu ul li ul li {
  display: block;
}

.header .top-menu ul li ul li a {
  padding: 5px 16px;
}

.header .top-menu ul li:hover ul {
  display: block;
}

.index-page-slider {
  position: relative;
}

.index-page-slider .item {
  height: 664px;
}

.index-page-slider .item .content {
  width: 500px;
}

.index-page-slider .item .zag {
  padding-top: 80px;
  text-align: left;
  font-weight: 700;
  font-size: 80px;
}

.index-page-slider .item p {
  font-weight: 300;
  font-size: 26px;
}

.index-page-slider .item .btn {
  margin-top: 30px;
}

.index-page-slider .slick-dots {
  position: absolute;
  bottom: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.index-page-slider .slick-dots li {
  display: inline-block;
}

.index-page-slider .slick-dots li button {
  z-index: 2;
  margin: 0 4px;
  padding: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #464547;
  border-radius: 50%;
  background: none;
  font-size: 0;
  cursor: pointer;
}

.index-page-slider .slick-dots li.slick-active button {
  background: #464547;
}

.btn {
  padding: 0;
  width: 202px;
  height: 52px;
  border: 0;
  border-radius: 0;
  background: #f6871f;
  color: #fff;
  font-weight: 300;
  font-size: 26px;
  line-height: 52px;
  cursor: pointer;
}

.index-page-icons {
  padding: 60px 0;
  text-align: center;
}

.index-page-icons .zag {
  padding-bottom: 80px;
  font-weight: 300;
  font-size: 40px;
}

.index-page-icons .zag span {
  font-weight: 700;
}

.index-page-icons .zag p {
  padding-bottom: 40px;
}

.index-page-icons .zag.small {
  padding-bottom: 40px;
  font-size: 36px;
}

.index-page-icons .item {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.index-page-icons .item img {
  margin-bottom: 40px;
  max-width: 100%;
}

.index-page-icons .item span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.index-page-icons .bottom-text {
  padding: 50px 0;
  text-align: center;
  font-weight: 300;
  font-size: 26px;
}

.index-page-items {
  position: relative;
  padding: 80px 0;
  background: #ebebeb;
  text-align: center;
}

.index-page-items .container {
  position: relative;
  z-index: 2;
}

.index-page-items img {
  max-width: 100%;
}

.index-page-items .name {
  font-weight: 300;
  font-size: 80px;
}

.index-page-items p {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 23px;
}

.index-page-items .dark {
  color: #fff;
}

.index-page-items:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #323232;
  content: "";
}

.zag {
  padding-bottom: 60px;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
}

.zag span {
  font-weight: 700;
}

.index-page-free {
  padding: 80px 0;
}

.index-page-free .item {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}

.index-page-free .item img {
  margin-bottom: 10px;
  max-width: 100%;
}

.index-page-catalog {
  padding: 80px 0 0;
  background: #323232;
  color: #fff;
}

.index-page-catalog .row {
  margin-bottom: 100px;
}

.index-page-catalog img {
  margin-top: 40px;
  max-width: 100%;
}

.index-page-catalog .name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 80px;
}

.index-page-catalog p {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 36px;
}

.index-page-catalog a {
  color: #f6871f;
  font-size: 26px;
}

.index-page-catalog .btn {
  margin-top: 40px;
}

.index-page-catalog .f_right {
  float: right;
}

.index-page-catalog .f_left {
  float: left;
}

.index-posts {
  padding: 80px 0;
}

.post-item {
  margin-bottom: 40px;
  line-height: 28px;
}

.post-item img {
  margin-top: 8px;
  width: 100%;
}

.post-item .name {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.post-item .date {
  margin-bottom: 5px;
  font-style: italic;
}

.footer {
  padding: 80px 0;
  background: #323232;
  color: #fff;
}

.footer .logo {
  float: left;
}

.footer .logo p {
  margin-top: 40px;
  line-height: 30px;
}

.footer .logo .social {
  padding-top: 50px;
}

.footer .logo .social img {
  margin-right: 18px;
}

.footer .logo .social a:last-child img {
  margin-right: 0;
}

.footer .big-text {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 18px;
}

.footer .bottom-menu {
  float: left;
  margin-left: 200px;
}

.footer .bottom-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .bottom-menu ul li {
  margin-bottom: 14px;
}

.footer .bottom-menu ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

.footer .bottom-menu ul li a:before {
  margin-right: 6px;
  color: #f6871f;
  content: ">";
}

.footer .subscribe {
  float: right;
}

.footer .subscribe p {
  margin-bottom: 15px;
  color: #b9b9b9;
  line-height: 30px;
}

.footer .subscribe form input {}

.footer .subscribe form input[type='text'] {
  margin-bottom: 20px;
  padding: 0 0 0 15px;
  width: 370px;
  height: 50px;
  border: 1px solid #505050;
  background: none;
  font-size: 13px;
}

.footer .subscribe form input[type='text']:focus {
  border: 1px solid #f6871f;
}

.footer .subscribe form input[type='submit'] {
  padding-left: 13px;
  width: 370px;
  height: 50px;
  border: 0;
  background: #f6871f;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}

.copy {
  padding: 20px 0;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.popupbg {
  position: fixed;
  top: 0;
  left: -10%;
  z-index: 10;
  display: none;
  overflow-y: scroll;
  width: 120%;
  height: 100%;
}

.popupbg .bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background: #010101;
  background: rgba(1, 1, 1, 0.7);
}

.popupbg .popup {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 12;
  margin-bottom: 100px;
  margin-left: -185px;
  padding: 25px;
  width: 370px;
  background: #ebebeb;
}

.popupbg .popup .big-text {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.popupbg .popup form input[type='text'] {
  margin-bottom: 20px;
  padding: 0 0 0 25px;
  width: 100%;
  height: 56px;
  border: 0;
  border: 1px solid #fff;
}

.popupbg .popup form input[type='text']:focus {
  border: 1px solid #f6871f;
}

.popupbg .popup form .submit {
  text-align: center;
}

.popupbg .popup form .submit input[type='submit'] {
  width: 180px;
  height: 56px;
  font-weight: 700;
  font-size: 14px;
}

.page-content {
  padding: 80px 0;
}

.page-content.border_t {
  border-top: 1px solid #787878;
}

.error-page {
  padding: 120px 0;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.error-page span {
  display: block;
  margin-bottom: 10px;
  letter-spacing: 4px;
  font-size: 80px;
}

.error-page .btn {
  margin-top: 30px;
  width: 375px;
  font-size: 28px;
}

h1 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 63px;
}

h1.small {
  font-size: 44px;
}

h2 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 42px;
}

.about-top-text {
  padding: 80px 0;
  background: #ebebeb;
}

.about-top-text .zag {
  padding-bottom: 40px;
  font-size: 49px;
}

.big-two-cols-text {
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
}

.big-two-cols-text a {
  text-decoration: underline;
}

.big-two-cols-text a:hover {
  text-decoration: none;
}

.buy-info .item {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
}

.buy-info .item span {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}

.buy-info .item a {
  text-decoration: underline;
}

.buy-info .item a:hover {
  text-decoration: none;
}

.product-top-info {
  padding: 60px 0;
  background: #ebebeb;
}

.product-top-info .photo {
  text-align: center;
}

.product-top-info img {
  margin-top: 30px;
  max-width: 100%;
}

.product-top-info .name {
  margin-bottom: 30px;
  padding-top: 40px;
  font-weight: 700;
  font-size: 63px;
}

.product-top-info p {
  margin-bottom: 30px;
  padding-right: 20px;
  font-weight: 300;
  font-size: 26px;
}

.product-top-info.no_top_m {
  padding-top: 0;
}

.product-top-info.no_top_m img {
  margin-top: 0;
}

.product-top-info.small p {
  padding-top: 80px;
  font-size: 17px;
  line-height: 30px;
}

.product-video {
  background: #323232;
}

.product-video iframe {
  height: 430px;
}

.product-video .text {
  padding: 20px 10px;
  color: #fff;
  font-weight: 300;
  font-size: 17px;
  line-height: 34px;
}

.scanner {
  padding: 80px 0;
  background: #ebebeb;
}

.scanner .zag {
  font-weight: 700;
  font-size: 55px;
}

.scanner .item {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.scanner .item img {
  margin-bottom: 50px;
  max-width: 100%;
}

.scanner .item span {
  display: block;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.portative .photo {
  text-align: right;
}

.portative .photo img {
  max-width: 100%;
}

.portative .text {
  padding-top: 80px;
}

.portative .text .big-text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 55px;
}

.portative .text p {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 17px;
  line-height: 35px;
}

.portative.big {
  padding: 40px 0;
}

.hard-scanning {
  position: relative;
  padding: 80px 0;
  background: #323232;
  color: #fff;
}

.hard-scanning .big-text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 49px;
}

.hard-scanning p {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 17px;
  line-height: 35px;
}

.hard-scanning p a {
  color: #f6871f;
  text-decoration: underline;
}

.hard-scanning.second:before {
  background: url('../img/hard-scanning2.jpg') center;
  background-size: cover;
}

.hard-scanning.third:before {
  background: url('../img/hard-scanning3.jpg') center;
  background-size: cover;
}

.hard-scanning:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: url('../img/hard-scanning.jpg') center;
  background-size: cover;
  content: "";
}

.yesy-use {
  padding: 80px 0 60px;
  background: #323232;
  color: #fff;
}

.yesy-use .zag {
  padding-bottom: 30px;
  font-size: 49px;
}

.yesy-use p {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}

.modes {
  padding: 80px 0;
}

.modes .zag {
  font-weight: 700;
  font-size: 55px;
}

.modes .item {
  margin-bottom: 30px;
  text-align: center;
}

.modes .item img {
  margin-bottom: 50px;
  max-width: 100%;
}

.modes .item .name {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
}

.modes .item p {
  text-align: left;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}

.test-markers {
  position: relative;
  padding: 80px 0;
  background: #ebebeb;
}

.test-markers .big-text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 55px;
}

.test-markers p {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 17px;
  line-height: 35px;
}

.test-markers:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: url('../img/test-markers.jpg') center;
  background-size: cover;
  content: "";
}

.tech-info {
  padding: 80px 0;
}

.tech-info .zag {
  font-size: 49px;
}

.tech-info table {
  width: 100%;
}

.tech-info table thead tr td {
  padding: 5px 10px;
  font-weight: 700;
  font-size: 17px;
}

.tech-info table tbody tr td {
  padding: 5px 10px;
  font-size: 17px;
}

.tech-info table tbody tr td[colspan='3'] {
  text-align: center;
}

.tech-info table tbody tr:nth-child(odd) {
  background: #ebebeb;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item .name {
  padding: 20px 20px 20px 60px;
  border: 1px solid #dddddd;
  background: url('../img/faq.png') no-repeat 20px 50%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.faq-item .name.active {
  background: url('../img/faq-active.png') no-repeat 20px 50%;
}

.faq-item .text {
  display: none;
  padding: 20px 30px 50px 25px;
  border: 1px solid #dddddd;
  border-top: 0;
  font-weight: 300;
  font-size: 18px;
}

.gallery-3d .item {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.gallery-3d .item img {
  max-width: 100%;
}

.gallery-3d .item .name {
  margin-top: 15px;
  font-weight: 700;
}

.gallery-3d .item iframe {
  height: 320px;
}

.gallery-photo .gallery-item {
  margin-bottom: 50px;
}

.gallery-photo .gallery-item .item {
  background: #fff;
  text-align: center;
}

.gallery-photo .gallery-item img {
  display: inline;
  width: 90%;
}

.gallery-photo .gallery-item .slider-nav, .gallery-photo .gallery-item .slider-nav2, .gallery-photo .gallery-item .slider-nav3, .gallery-photo .gallery-item .slider-nav4 {
  padding-top: 20px;
}

.gallery-photo .gallery-item .slider-nav .item, .gallery-photo .gallery-item .slider-nav2 .item, .gallery-photo .gallery-item .slider-nav3 .item, .gallery-photo .gallery-item .slider-nav4 .item {
  margin: 0 10px;
  outline: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: .7;
  cursor: pointer;
}

.gallery-photo .gallery-item .slider-nav .item.slick-current, .gallery-photo .gallery-item .slider-nav2 .item.slick-current, .gallery-photo .gallery-item .slider-nav3 .item.slick-current, .gallery-photo .gallery-item .slider-nav4 .item.slick-current {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

.gallery-photo .gallery-item .name {
  padding-top: 30px;
  text-align: center;
  font-size: 18px;
}

.blog-item {
  margin-bottom: 50px;
  font-size: 17px;
  line-height: 30px;
}

.blog-item img {
  margin-bottom: 10px;
  width: 100%;
}

.blog-item .date {
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
  font-size: 10px;
}

.blog-item .date span {
  font-weight: 700;
}

.blog-item .orange-date span {
  padding: 0 8px;
  background: #f6871f;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
}

.blog-item .name {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.blog-item a {
  text-decoration: underline;
  font-style: italic;
}

.blog-item a:hover {
  text-decoration: none;
}

.news-item {
  margin-bottom: 50px;
  font-size: 17px;
  line-height: 30px;
}

.news-item img {
  margin-bottom: 10px;
  width: 100%;
}

.news-item .date {
  color: #f6871f;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}

.news-item .name {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.news-item .btn {
  margin-top: 20px;
  width: 138px;
  height: 40px;
  background: #3b3e43;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 40px;
}

.news-item .btn:hover {
  background: #f6871f;
  color: #fff;
}

.news-item.arts img {
  max-width: 100%;
  width: auto;
}

.news-item.arts .btn {
  background: #f6871f;
}

.news-item.arts .btn:hover {
  background: #3b3e43;
}

.news-share {
  margin-bottom: 20px;
}

.news-share .date {
  margin-left: 20px;
  vertical-align: middle;
  font-weight: 700;
  font-style: italic;
  font-size: 17px;
}

.news-share .ya-share2 {
  display: inline-block;
  vertical-align: middle;
}

.news-page .image {
  margin-bottom: 30px;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
}

.news-page .image img {
  float: left;
  margin-right: 30px;
  max-width: 60%;
}

.news-page p {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 28px;
}

.soft-info {
  padding: 80px 0;
  background: #323232;
  color: #fff;
}

.soft-info .big-text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 49px;
}

.soft-info .big-text.center {
  text-align: center;
}

.soft-info p {
  font-size: 17px;
  line-height: 28px;
}

.soft-info p span {
  color: #f6871f;
  font-weight: 700;
}

.soft-info .row {
  margin-top: 50px;
}

.soft-info .image {
  text-align: center;
}

.soft-info .image img {
  max-width: 100%;
}

.soft-info .soft-slider {
  position: relative;
  padding-top: 150px;
  text-align: center;
}

.soft-info .soft-slider img {
  display: inline;
  max-width: 100%;
}

.soft-info .slick-dots {
  margin: 0;
  padding: 15px 0 0 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.soft-info .slick-dots li {
  display: inline-block;
}

.soft-info .slick-dots li button {
  z-index: 2;
  margin: 0 4px;
  padding: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: none;
  font-size: 0;
  cursor: pointer;
}

.soft-info .slick-dots li.slick-active button {
  background: #fff;
}

.soft-info.big .big-text {
  font-size: 55px;
}

.soft-info.big p {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 26px;
  line-height: 44px;
}

.thor-icons {
  padding: 80px 0;
}

.thor-icons .big-text {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 300;
  font-size: 49px;
}

.thor-icons .big-text span {
  display: block;
  font-weight: 700;
}

.thor-icons .list .item {
  float: left;
  margin-bottom: 30px;
  width: 20%;
  text-align: center;
}

.thor-icons .list .item img {
  max-width: 100%;
}

.thor-icons .bottom-text {
  padding: 50px 0;
  text-align: center;
  font-weight: 300;
  font-size: 26px;
}

.thor-modes {
  padding: 80px 0 0;
  background: #ebebeb;
}

.thor-modes .big-text {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 49px;
}

.thor-modes .row {
  margin-bottom: 80px;
}

.thor-modes .row p {
  font-size: 17px;
  line-height: 28px;
}

.thor-modes .row .image {
  font-style: italic;
  font-size: 15px;
  line-height: 25px;
}

.thor-modes .row .image img {
  margin-bottom: 10px;
  width: 100%;
}

.dark-icons {
  padding: 80px 0 50px;
  background: #323232;
  color: #fff;
  text-align: center;
}

.dark-icons .item {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 28px;
}

.dark-icons .item img {
  margin-bottom: 20px;
}

.dark-icons .item a {
  color: #f6871f;
  text-decoration: underline;
}

.tech-table {
  padding: 80px 0;
}

.tech-table .big-text {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 55px;
}

.tech-table .table {
  margin: 0 auto;
  width: 800px;
}

.tech-table .table table {
  width: 100%;
}

.tech-table .table table tr td {
  padding: 5px 10px;
  vertical-align: top;
  font-weight: 300;
  font-size: 26px;
}

.arts-list .item {
  padding: 50px 0 30px;
}

.arts-list .item .big-text {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 63px;
}

.arts-list .item:nth-child(2n-1) {
  background: #ebebeb;
}

@media (max-width: 1200px) {
  .header .top-menu ul li a {
    padding: 22px 12px;
  }
  .footer .bottom-menu {
    margin-left: 100px;
  }
  .gallery-3d .item iframe {
    height: 260px;
  }
}

@media (max-width: 991px) {
  .header .top-menu ul li a {
    padding: 22px 7px;
    text-transform: none;
    font-size: 13px;
  }
  .index-page-catalog .image {
    text-align: center;
  }
  .index-page-catalog .f_right, .index-page-catalog .f_left {
    float: none;
  }
  .footer .bottom-menu {
    margin-left: 80px;
  }
  .footer .subscribe {
    width: 220px;
  }
  .footer .subscribe form input {}
  .footer .subscribe form input[type='text'], .footer .subscribe form input[type='submit'] {
    width: 100%;
  }
  .product-top-info .photo {
    text-align: center;
  }
  .portative .photo {
    display: none;
  }
  .portative .text {
    padding-top: 30px;
  }
  .hard-scanning:before, .test-markers:before {
    display: none;
  }
  .gallery-3d .item iframe {
    height: 200px;
  }
  .no_tablet {
    display: none;
  }
  .soft-info .soft-slider, .product-top-info.small p, .thor-modes .row .image {
    padding-top: 30px;
  }
  .tech-table .table {
    width: auto;
  }
}

@media (max-width: 767px) {
  .header {
    position: relative;
  }
  .header .logo {
    float: none;
    text-align: center;
  }
  .header .top-menu {
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 12;
    padding-top: 10px;
    width: 280px;
    height: 100%;
    background: #fff;
    text-align: left;
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  .header .top-menu ul li {
    display: block;
  }
  .header .top-menu ul li a {
    padding: 5px 15px;
    color: #333;
  }
  .header .top-menu ul li ul {
    position: relative;
    display: block;
    padding: 0 0 0 20px;
    width: auto;
    background: none;
  }
  .header .top-menu.opened {
    left: 0;
  }
  .menubg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: none;
    width: 100%;
    height: 100%;
    background: #010101;
    background: rgba(1, 1, 1, 0.6);
  }
  .header .menu-button {
    position: absolute;
    top: 16px;
    left: 20px;
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
  }
  .index-page-slider .item {
    padding-bottom: 80px;
    height: auto;
    background: none !important;
  }
  .index-page-slider .item .zag {
    padding-top: 30px;
    font-size: 60px;
  }
  .index-page-slider .item p {
    font-size: 18px;
  }
  .zag {
    padding-bottom: 30px;
    font-size: 24px;
  }
  .index-page-icons .zag {
    padding-bottom: 30px;
    font-size: 24px;
  }
  .index-page-icons .item {
    margin-bottom: 30px;
  }
  .index-page-items {
    padding: 30px 0;
  }
  .index-page-items .name {
    font-size: 60px;
  }
  .index-page-items p {
    margin-bottom: 0;
  }
  .index-page-items .dark {
    padding-top: 30px;
    color: #333;
  }
  .index-page-items:after {
    display: none;
  }
  .index-page-free {
    padding: 30px 0;
  }
  .index-page-free .row .col-xs-6:nth-child(2n+1) {
    clear: both;
  }
  .index-page-catalog {
    padding: 30px 0 0;
  }
  .index-page-catalog .name {
    font-size: 40px;
  }
  .index-page-catalog p {
    font-size: 20px;
  }
  .index-page-catalog a {
    font-size: 16px;
  }
  .index-page-catalog .btn {
    margin-top: 20px;
  }
  .index-page-catalog .row {
    margin-bottom: 30px;
  }
  .post-item img {
    margin-bottom: 15px;
  }
  .footer {
    padding: 30px 0;
  }
  .footer .logo {
    float: none;
  }
  .footer .logo p {
    margin-top: 20px;
  }
  .footer .logo .social {
    padding-top: 20px;
  }
  .footer .bottom-menu {
    float: none;
    margin: 30px 0 0 0;
  }
  .footer .big-text {
    margin-bottom: 20px;
  }
  .footer .subscribe {
    float: none;
    margin: 30px 0 0 0;
    width: auto;
  }
  .error-page {
    padding: 0;
  }
  .error-page span {
    letter-spacing: 0;
    font-size: 50px;
  }
  .error-page .btn {
    width: 100%;
    font-size: 24px;
  }
  .page-content, .about-top-text {
    padding: 30px 0;
  }
  h1, h2, h1.small {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .big-two-cols-text {
    font-size: 16px;
  }
  .page-content .col-sm-6, .about-top-text .col-sm-6 {
    margin-bottom: 20px;
  }
  .buy-info .item {
    font-size: 16px;
  }
  .product-top-info {
    padding: 30px 0;
  }
  .product-top-info .name {
    font-size: 30px;
  }
  .product-top-info p {
    font-size: 18px;
  }
  .product-video .text {
    font-size: 16px;
  }
  .scanner {
    padding: 30px 0;
  }
  .scanner .zag {
    font-size: 30px;
  }
  .scanner .item img {
    margin-bottom: 20px;
  }
  .portative .text .big-text {
    font-size: 30px;
  }
  .portative .text p {
    font-size: 16px;
  }
  .hard-scanning {
    padding: 30px 0;
  }
  .hard-scanning .big-text {
    font-size: 30px;
  }
  .hard-scanning p {
    font-size: 16px;
  }
  .yesy-use {
    padding: 30px 0;
  }
  .yesy-use .zag {
    font-size: 30px;
  }
  .about-top-text .zag {
    font-size: 30px;
  }
  .modes {
    padding: 30px 0;
  }
  .modes .zag {
    font-size: 30px;
  }
  .modes .item img {
    margin-bottom: 20px;
  }
  .test-markers {
    padding: 30px 0;
  }
  .test-markers .big-text {
    font-size: 30px;
  }
  .test-markers p {
    font-size: 16px;
  }
  .tech-info {
    padding: 30px 0;
  }
  .tech-info .zag {
    font-size: 30px;
  }
  .gallery-photo .gallery-item .slider-nav {
    padding-top: 10px;
  }
  .gallery-photo .gallery-item .slider-nav .item {
    margin: 0 5px;
  }
  .gallery-3d .item iframe {
    height: 320px;
  }
  .news-page .image {
    font-size: 13px;
  }
  .news-page .image img {
    margin: 0 0 6px 0;
    max-width: 100%;
    width: 100%;
  }
  .news-page p {
    font-size: 16px;
    line-height: 26px;
  }
  .index-page-icons .bottom-text {
    padding: 20px 0;
    font-size: 16px;
  }
  .soft-info {
    padding: 30px 0;
  }
  .soft-info .big-text {
    font-size: 30px;
  }
  .portative.big {
    padding: 0;
  }
  .thor-icons {
    padding: 30px 0;
  }
  .thor-icons .big-text {
    font-size: 30px;
  }
  .thor-icons .list .item {
    float: none;
    width: auto;
  }
  .thor-icons .bottom-text {
    padding: 20px 0;
    font-size: 18px;
  }
  .thor-modes {
    padding: 30px 0;
  }
  .thor-modes .big-text {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .thor-modes .row {
    margin-bottom: 30px;
  }
  .dark-icons {
    padding: 30px 0;
  }
  .dark-icons .item {
    font-size: 16px;
  }
  .index-page-icons {
    padding: 30px 0;
  }
  .index-page-icons .zag p {
    font-size: 24px;
  }
  .soft-info .row {
    margin-top: 30px;
  }
  .soft-info.big .big-text {
    font-size: 30px;
  }
  .soft-info.big p {
    font-size: 18px;
    line-height: 28px;
  }
  .tech-table {
    padding: 30px 0;
  }
  .tech-table .big-text {
    font-size: 30px;
  }
  .tech-table .table table tr td {
    font-size: 18px;
  }
  .arts-list .item {
    padding: 30px 0 0;
  }
  .arts-list .item .big-text {
    margin-bottom: 20px;
    font-size: 36px;
  }
  .index-posts {
    padding: 30px 0;
  }
  .popupbg .popup {
    margin-left: -150px;
    width: 300px;
  }
  .popupbg .popup .big-text {
    font-size: 16px;
  }
}
